<perfect-scrollbar>
  <div class="container">
    <h2>Kursomat</h2>
    <nav>
        <button routerLink="/home" routerLinkActive="active" [ngClass]="'btn btn-primary'">Home</button>
        <button routerLink="/courses" routerLinkActive="active" [ngClass]="'btn btn-primary'">Kursy</button>
        <div class="mega_menu">
            <button routerLink="/about" routerLinkActive="active" [ngClass]="'btn btn-primary'">O nas</button>
            <div class="submenu">
              <button routerLink="/about/template-driven" [ngClass]="'btn btn-primary'">Template driven</button>
              <button routerLink="/about/reactive-form" [ngClass]="'btn btn-primary'">Reactive form</button>
            </div>
        </div>
        <button routerLink="/secret" routerLinkActive="active" [ngClass]="'btn btn-outline-danger'">Tajne</button>
        <button *ngIf="!authService.user" routerLink="/login" routerLinkActive="active" [ngClass]="'btn btn-secondary'">Zaloguj</button>
        <button *ngIf="authService.user" (click)="logout()" [ngClass]="'btn btn-danger'">Wyloguj</button>
        <span *ngIf="authService.user" class="username">Witaj {{authService.user.email}}</span>
      </nav>
  </div>

  <router-outlet></router-outlet>
</perfect-scrollbar>
